.App {
  text-align: center;
  align-items: center;
}

.movies{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(190, 222, 242);
  /* height: 100vh; this will make .app take up the full height of the view */
}



